@model LvhBaiDanhGiaGiuaKy.Models.LvhProduct

@{
    ViewBag.Title = "LvhDetails";
}

<h2>LvhDetails</h2>

<div>
    <h4>LvhProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LvhFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LvhIsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LvhIsActive)
        </dd>

    </dl>
</div>
<div>
    <a href="LvhEdit" asp-route-id="@Model.LvhId">Edit</a> |
    <a href="LvhIndex">Back to List</a>
</div>

